.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 450px;
  width: 350px;
  margin-top: 10vh;
  padding-top: 20px;
  border: 1px solid #aaa;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .26);
  background-color: #ffffff;
}
